html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 100%;
}
.editor-class {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  color: #000;
  width: inherit;
  height: auto;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.elipsis-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
